<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.cjproject">
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CJproject"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".join.Join_carinform"
            android:exported="false" />
        <activity
            android:name=".join.Join_area"
            android:exported="false" />
        <activity
            android:name=".join.Join_account"
            android:exported="false" />
        <activity
            android:name=".join.Join_Main"
            android:exported="false" />
        <activity
            android:name=".task.task_list"
            android:exported="false" />
        <activity
            android:name=".task.task_confirm"
            android:exported="false" />
        <activity
            android:name=".task.rank_popup"
            android:exported="false" />
        <activity
            android:name=".task.task_request"
            android:exported="false" />
        <activity
            android:name=".task.task_request_list"
            android:exported="false" />
        <activity
            android:name=".task.permissionset"
            android:exported="false" />
        <activity
            android:name=".login.Passwordpopup"
            android:exported="false" />
        <activity
            android:name=".login.ResetPassword"
            android:exported="false" />
        <activity
            android:name=".login.FindPassword"
            android:exported="false" />
        <activity
            android:name=".login.FindID_Complete"
            android:exported="false" />
        <activity
            android:name=".login.FindID"
            android:exported="false" />
        <activity
            android:name=".login.Login_main"
            android:exported="false" />
        <activity
            android:name=".login.Join_Complete"
            android:exported="true" />
        <activity
            android:name=".join.app_start"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>